<span class="w-full">
  <button
    [type]="btnTypeProp"
    (click)="clickHandlerProp ? clickHandlerProp() : ''"
    [disabled]="disabledProp"
    class="group relative w-full max-w-xs overflow-hidden rounded-md bg-zinc-100 bg-opacity-70 px-8 py-3 shadow-xl transition-all hover:bg-opacity-100 disabled:cursor-not-allowed 3xl:px-12 3xl:py-3"
    [ngClass]="ngClassesBtnProp"
  >
    <div
      class="absolute inset-0 w-full transition-all duration-[250ms] ease-out"
      [ngClass]="ngClassesDivProp"
    ></div>
    <span
      class="relative transition-all md:text-lg xl:text-xl"
      [ngClass]="ngClassesSpanProp"
    >
      {{ btnTextProp }}
    </span>
  </button>
</span>
