<div class="flex max-w-7xl flex-1 items-center justify-center px-6 lg:px-8">
  <img
    class="absolute left-0 top-0 -z-10 h-full w-full object-cover object-center"
    src="../../assets/homepage-bg.webp"
    alt="Homepage background image"
  />
  <div class="flex flex-col items-center justify-center">
    <div
      class="flex max-w-md flex-col items-center justify-center bg-amber-500 p-4 text-center opacity-90 shadow-xl xl:max-w-xl 3xl:max-w-2xl 3xl:p-8"
    >
      <p class="text-lg italic md:text-xl xl:text-2xl 3xl:text-3xl">
        “Food brings people together on many different levels. It’s nourishment
        of the soul and body; it’s truly love.”
        <span class="not-italic text-zinc-900"
          >– <strong>Giada De Laurentiis</strong></span
        >
      </p>
    </div>
    <span class="w-full pt-6">
      <button
        class="group relative overflow-hidden bg-zinc-100 bg-opacity-70 px-8 py-3 shadow-xl transition-all hover:bg-opacity-100 3xl:px-12 3xl:py-4"
      >
        <div
          class="absolute inset-0 w-full bg-amber-500 transition-all duration-[250ms] ease-out group-hover:w-3"
        ></div>
        <a
          routerLink="/recipes"
          class="relative text-lg text-zinc-100 transition-all group-hover:text-zinc-900 md:text-xl xl:text-2xl 3xl:text-3xl"
          >Find Recipes!</a
        >
      </button>
    </span>
  </div>
</div>
