<div
  class="mx-auto mt-16 flex min-h-[calc(100vh-64px)] w-full flex-1 flex-col items-center justify-center bg-amber-600 bg-opacity-10 px-6 lg:px-8"
>
  <div class="flex h-full w-full flex-col items-center justify-start py-6">
    <div class="flex w-full items-center justify-between pb-6">
      <div class="flex w-fit items-center justify-center">
        <span class="flex max-w-full items-center">
          <img
            [ngSrc]="recipe.authorPhotoUrl"
            height="32"
            width="32"
            class="block h-8 w-8 max-w-full rounded-full align-middle md:h-14 md:w-14"
          />
          <span class="pl-4 text-sm leading-6">
            <p
              class="max-w-full text-base font-semibold text-zinc-900 md:text-xl xl:text-2xl"
            >
              {{ recipe.authorName }}
            </p>
          </span>
        </span>
      </div>

      <div
        class="flex w-fit items-center justify-end"
        *ngIf="user && isUserRecipeAuthor"
      >
        <a
          [routerLink]="'../store/' + recipeIndex"
          class="group relative w-full max-w-fit overflow-hidden rounded-md bg-zinc-100 bg-opacity-70 px-6 py-2 shadow-xl transition-all hover:bg-opacity-100 disabled:cursor-not-allowed md:px-8 md:py-3 3xl:px-12 3xl:py-3"
        >
          <div
            class="absolute inset-0 w-full bg-blue-500 transition-all duration-[250ms] ease-out lg:group-hover:w-3"
          ></div>
          <button
            type="button"
            class="relative text-zinc-100 transition-all md:text-lg lg:group-hover:text-zinc-900 xl:text-xl"
          >
            Edit Recipe
          </button>
        </a>
      </div>
    </div>

    <img
      [ngSrc]="recipe.imageUrl"
      height="100"
      width="100"
      class="aspect-3/2 h-auto w-auto rounded-sm object-cover object-center shadow-xl md:aspect-video"
    />

    <div
      class="mt-8 flex h-full w-full flex-col items-start justify-start gap-4 text-start text-zinc-900"
    >
      <h1
        class="w-full text-center text-xl font-bold italic text-amber-500 md:text-2xl xl:text-3xl"
      >
        {{ recipe.name }}
      </h1>
      <p class="my-20 w-full text-lg md:text-xl xl:text-2xl">
        {{ recipe.description }}
      </p>
      <div
        class="flex w-full max-w-xl flex-col items-start justify-start p-4 text-lg shadow-xl md:text-xl xl:text-2xl"
        *ngIf="recipe.ingredients"
      >
        <h2 class="pb-2 font-bold text-amber-500">Ingredients:</h2>
        <ul class="w-full">
          <li
            class="my-8 flex w-full items-start justify-between indent-4 italic"
            *ngFor="let ingredient of recipe.ingredients; let index"
            #ingredientLiEl
            (click)="onCrossOff(ingredientLiEl)"
          >
            <span class="w-1/2 break-words text-start">{{
              ingredient.name
            }}</span>
            <span class="w-1/2 text-end">{{
              ingredient.amount + " " + ingredient.unit
            }}</span>
          </li>
        </ul>
      </div>

      <div
        class="flex w-full flex-col items-start justify-start p-4 text-lg shadow-xl md:text-xl xl:text-2xl"
        *ngIf="recipe.cookingSteps"
      >
        <h2 class="pb-2 font-bold text-amber-500">Instructions:</h2>
        <ul class="w-full">
          <li
            class="my-6 flex w-full flex-col items-start justify-start indent-4 italic"
            *ngFor="let step of recipe.cookingSteps; index as idx"
            #stepLiEl
            (click)="onCrossOff(stepLiEl)"
          >
            <span class="w-full font-bold">Step {{ idx + 1 }}</span>
            <span class="mt-4 w-full break-words px-4 md:px-0 md:pl-16">{{
              step["description"]
            }}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="my-8 w-full" *ngIf="user">
      <div
        class="flex w-full flex-col items-center justify-between md:flex-row"
      >
        <span class="w-full md:max-w-[200px]">
          <button
            type="button"
            (click)="handleLikeRecipe()"
            [disabled]="isLoading"
            class="group relative w-full max-w-xs overflow-hidden rounded-md bg-zinc-100 bg-opacity-70 px-8 py-3 shadow-xl transition-all hover:bg-opacity-100 disabled:cursor-not-allowed 3xl:px-12 3xl:py-3"
          >
            <div
              class="absolute inset-0 w-full bg-blue-500 transition-all duration-[250ms] ease-out lg:group-hover:w-3"
              [ngClass]="{
                'bg-rose-500': hasUserLikedRecipe,
                'w-0 opacity-20': isLoading
              }"
            ></div>
            <span
              class="relative flex items-center justify-center text-zinc-100 transition-all md:text-lg lg:group-hover:text-zinc-900 xl:text-xl"
            >
              <span class="mr-4 h-6 w-6" *ngIf="isLoading">
                <app-loading-spinner />
              </span>
              {{ hasUserLikedRecipe ? "Unlike" : "Like" }}
            </span>
          </button>
        </span>

        <span class="w-full py-4 md:max-w-[200px] md:py-0">
          <button
            type="button"
            class="group relative w-full max-w-xs overflow-hidden rounded-md bg-zinc-100 bg-opacity-70 px-8 py-3 shadow-xl transition-all hover:bg-opacity-100 disabled:cursor-not-allowed 3xl:px-12 3xl:py-3"
            (click)="handleShowCommentModal()"
          >
            <div
              class="absolute inset-0 w-full bg-blue-500 transition-all duration-[250ms] ease-out lg:group-hover:w-3"
            ></div>
            <span
              class="relative text-zinc-100 transition-all md:text-lg lg:group-hover:text-zinc-900 xl:text-xl"
            >
              Comment
            </span>
          </button>
        </span>

        <span class="w-full md:max-w-[200px]">
          <button
            type="button"
            class="group relative w-full max-w-xs overflow-hidden rounded-md bg-zinc-100 bg-opacity-70 px-8 py-3 shadow-xl transition-all hover:bg-opacity-100 disabled:cursor-not-allowed 3xl:px-12 3xl:py-3"
            (click)="handleShowShareMenu()"
          >
            <div
              class="absolute inset-0 w-full bg-blue-500 transition-all duration-[250ms] ease-out lg:group-hover:w-3"
            ></div>
            <span
              class="relative text-zinc-100 transition-all md:text-lg lg:group-hover:text-zinc-900 xl:text-xl"
            >
              Share
            </span>
          </button>
        </span>
        <!-- [include]="[
            'facebook',
            'twitter',
            'linkedin',
            'pinterest',
            'reddit',
            'tumblr',
            'mix',
            'viber',
            'vk',
            'telegram',
            'messenger',
            'whatsapp'
          ]" -->
      </div>
      <div
        class="flex w-full flex-wrap items-center justify-center gap-4 rounded-sm text-zinc-900 shadow-lg transition-all ease-in-out"
        [ngClass]="
          isShareMenuOpen
            ? 'my-12 scale-100 pb-4 opacity-100'
            : 'scale-0 opacity-0'
        "
      >
        <share-button
          class="w-fit rounded-sm bg-blue-600 transition-colors hover:bg-blue-700"
          button="facebook"
          [url]=""
          text="Share"
          [showText]="false"
        />
        <share-button
          class="w-fit rounded-sm bg-sky-400 transition-colors hover:bg-sky-500"
          button="twitter"
          [url]=""
          text="Tweet"
          [showText]="false"
        />
        <share-button
          class="w-fit rounded-sm bg-cyan-600 transition-colors hover:bg-cyan-700"
          button="linkedin"
          [url]=""
          text="Share"
          [showText]="false"
        />
        <share-button
          class="w-fit rounded-sm bg-rose-600 transition-colors hover:bg-rose-700"
          button="pinterest"
          [url]=""
          text="Pin"
          [showText]="false"
        />
      </div>
      <div
        class="mt-8 flex w-full flex-col items-center justify-start p-4 text-lg shadow-xl md:text-xl xl:text-2xl"
        *ngIf="recipe.comments.length !== 0"
      >
        <h2
          class="w-full text-center text-xl font-bold italic text-amber-500 md:text-2xl xl:text-3xl"
        >
          Feedback
        </h2>
        <app-recipe-comment
          class="w-full"
          *ngFor="let comment of recipeComments; index as idx; last as isLast"
          [comment]="comment"
          [commentIdx]="idx"
          [isLastComment]="isLast"
        ></app-recipe-comment>
      </div>
    </div>

    <app-recipe-comment-modal
      *ngIf="showCommentModal"
      [recipe]="recipe"
      [user]="user"
      (showCommentModalEvent)="handleShowCommentModal($event)"
    ></app-recipe-comment-modal>
  </div>
</div>
