<a
  class="flex flex-col items-start justify-between rounded-2xl transition-all hover:bg-amber-500 hover:bg-opacity-75"
  [routerLink]="'/recipes/' + recipeIndex"
>
  <div class="relative w-full">
    <img
      [src]="recipe.imageUrl"
      class="block aspect-video h-auto w-full max-w-full rounded-2xl object-cover align-middle sm:aspect-2/1 lg:aspect-3/2"
    />
  </div>
  <div class="flex w-full flex-col justify-center p-2 text-zinc-900">
    <!-- <div class="text-xs gap-x-4 items-center flex mt-8">{{ recipeIndex }}</div> -->
    <div class="relative mt-8">
      <h3 class="mt-3 text-lg font-semibold leading-6">
        {{ recipe.name }}
      </h3>
      <p class="mt-5 overflow-hidden text-sm leading-6">
        {{ recipe.description }}
      </p>
    </div>
    <div class="relative mt-8 flex items-center gap-x-4 text-lg">
      <img
        [src]=""
        class="block h-10 w-10 max-w-full rounded-full align-middle"
      />
      <div class="text-sm leading-6">
        <p class="font-semibold">Jakov Knežević</p>
      </div>
    </div>
  </div>
</a>
