<a
  class="flex flex-col items-start justify-between transition-all hover:bg-amber-500 hover:bg-opacity-90 rounded-2xl"
  href="#"
>
  <div class="w-full relative">
    <img
      [src]="recipe.imageUrl"
      class="aspect-video sm:aspect-2/1 lg:aspect-3/2 object-cover rounded-2xl w-full h-auto max-w-full block align-middle"
    />
  </div>
  <div class="w-full flex flex-col justify-center p-2">
    <!-- <div class="text-xs gap-x-4 items-center flex mt-8">{{ recipeIndex }}</div> -->
    <div class="relative mt-8">
      <h3 class="text-lg leading-6 font-semibold mt-3">
        {{ recipe.name }}
      </h3>
      <p class="text-sm leading-6 overflow-hidden mt-5">
        {{ recipe.description }}
      </p>
    </div>
    <div class="gap-x-4 flex items-center mt-8 relative text-lg">
      <img
        [src]=""
        class="rounded-full w-10 h-10 max-w-full block align-middle"
      />
      <div class="text-sm leading-6">
        <p class="font-semibold">Jakov Knežević</p>
      </div>
    </div>
  </div>
</a>
