<div
  class="mx-auto mt-16 min-h-[calc(100vh-64px)] px-6 lg:px-8"
  [ngClass]="loading ? 'bg-transparent' : 'bg-amber-600 bg-opacity-10'"
>
  <div class="flex w-full items-center justify-end pt-8" *ngIf="user">
    <a
      [routerLink]="'store'"
      class="group relative w-full max-w-fit overflow-hidden rounded-md bg-zinc-100 bg-opacity-70 px-6 py-2 shadow-xl transition-all hover:bg-opacity-100 disabled:cursor-not-allowed md:px-8 md:py-3 3xl:px-12 3xl:py-3"
    >
      <div
        class="absolute inset-0 w-full bg-blue-500 transition-all duration-[250ms] ease-out group-hover:w-3"
      ></div>
      <button
        type="button"
        class="relative text-zinc-100 transition-all group-hover:text-zinc-900 md:text-lg xl:text-xl"
      >
        Add Recipe
      </button>
    </a>
  </div>
  <div
    class="mt-80 flex h-full w-full items-center justify-center"
    *ngIf="loading"
  >
    <div class="h-28 w-28">
      <app-loading-spinner />
    </div>
  </div>
  <div
    class="grid grid-cols-1 place-content-center place-items-center gap-x-8 gap-y-8 py-8 xl:grid-cols-2"
    *ngIf="!loading"
  >
    <app-recipe-tile
      *ngFor="let recipe of recipes; let i = index"
      [recipe]="recipe"
      [recipeIndex]="i"
    ></app-recipe-tile>
  </div>
</div>
